.data-table
    $radius: 13px
    min-width: 100%
    // border-collapse: collapse
    border-spacing: 0 $radius
    & tr
        box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 23%)
        border-radius: $radius
        overflow: hidden
    & th
        font-weight: 400
        color: #284E91
    & td
        text-align: center
    & tr
        & td, & th
            padding: 20px
            background-color: #fff
        & th:first-child, & td:first-child
            border-radius: $radius 0 0 $radius
        & th:last-child, & td:last-child
            border-radius: 0 $radius $radius 0